Time Now: 20180119 19:00.50<br>
http://test.samuelpua.com/samFinance/results<br><br>
^STI download failed after 2 tries.<br>
^KLSE download failed after 2 tries.<br>
^GSPC download failed after 2 tries.<br>
LMNR download failed after 2 tries.<br>
Q01.SI download failed after 2 tries.<br>
AGS.SI download failed after 2 tries.<br>
AXL download failed after 2 tries.<br>
CALM download failed after 2 tries.<br>
D05.SI download failed after 2 tries.<br>
O39.SI download failed after 2 tries.<br>
U11.SI download failed after 2 tries.<br>
AN download failed after 2 tries.<br>
RW0U.SI download failed after 2 tries.<br>
D5IU.SI download failed after 2 tries.<br>
ES3.SI download failed after 2 tries.<br>
500.SI download failed after 2 tries.<br>
573.SI download failed after 2 tries.<br>
C6L.SI download failed after 2 tries.<br>
E5H.SI download failed after 2 tries.<br>
J91U.SI download failed after 2 tries.<br>
1163.KL download failed after 2 tries.<br>
C download failed after 2 tries.<br>
BAC download failed after 2 tries.<br>
XOM download failed after 2 tries.<br>
CVX download failed after 2 tries.<br>
Z74.SI download failed after 2 tries.<br>
3395.KL download failed after 2 tries.<br>
<table style="width:100%; border:1px solid black; border-collapse:collapse;"><tr>
<th style="border:1px solid black; padding:5px;">Ticker</th>
<th style="border:1px solid black; padding:5px;">Name</th>
<th style="border:1px solid black; padding:5px;">Last</th>
<th style="border:1px solid black; padding:5px;">STDMov</th>
<th style="border:1px solid black; padding:5px;">Hist Perf</th>
<th style="border:1px solid black; padding:5px;">Beta</th>
<th style="border:1px solid black; padding:5px;">PE Ratio</th>
</tr>
<tr>
<td style="border:1px solid black; padding:5px;">
^STI</td><td style="border:1px solid black; padding:5px;">
Straits Times Index</td><td style="border:1px solid black; padding:5px;">
3391.61</td><td style="border:1px solid black; padding:5px;">
3.029</td><td style="border:1px solid black; padding:5px;">
nan/nan</td><td style="border:1px solid black; padding:5px;">
1.0</td><td style="border:1px solid black; padding:5px;">
None</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
^KLSE</td><td style="border:1px solid black; padding:5px;">
FTSE Bursa Malaysia</td><td style="border:1px solid black; padding:5px;">
1743.93</td><td style="border:1px solid black; padding:5px;">
-0.327</td><td style="border:1px solid black; padding:5px;">
nan/nan</td><td style="border:1px solid black; padding:5px;">
1.0</td><td style="border:1px solid black; padding:5px;">
None</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
^GSPC</td><td style="border:1px solid black; padding:5px;">
S&P 500 Index</td><td style="border:1px solid black; padding:5px;">
2575.26</td><td style="border:1px solid black; padding:5px;">
-0.0</td><td style="border:1px solid black; padding:5px;">
nan/nan</td><td style="border:1px solid black; padding:5px;">
1.0</td><td style="border:1px solid black; padding:5px;">
None</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
LMNR</td><td style="border:1px solid black; padding:5px;">
Limoneira Company</td><td style="border:1px solid black; padding:5px;">
23.35</td><td style="border:1px solid black; padding:5px;">
1.144</td><td style="border:1px solid black; padding:5px;">
-0.72/-0.41</td><td style="border:1px solid black; padding:5px;">
1.345</td><td style="border:1px solid black; padding:5px;">
40.122</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
Q01.SI</td><td style="border:1px solid black; padding:5px;">
QAF</td><td style="border:1px solid black; padding:5px;">
1.235</td><td style="border:1px solid black; padding:5px;">
0.0</td><td style="border:1px solid black; padding:5px;">
 0.52/-0.69</td><td style="border:1px solid black; padding:5px;">
0.086</td><td style="border:1px solid black; padding:5px;">
7.139</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
AGS.SI</td><td style="border:1px solid black; padding:5px;">
TheHourGlass</td><td style="border:1px solid black; padding:5px;">
0.675</td><td style="border:1px solid black; padding:5px;">
-0.279</td><td style="border:1px solid black; padding:5px;">
-1.06/-0.87</td><td style="border:1px solid black; padding:5px;">
0.013</td><td style="border:1px solid black; padding:5px;">
10.075</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
AXL</td><td style="border:1px solid black; padding:5px;">
American Axle</td><td style="border:1px solid black; padding:5px;">
17.79</td><td style="border:1px solid black; padding:5px;">
-0.0</td><td style="border:1px solid black; padding:5px;">
-0.74/-0.74</td><td style="border:1px solid black; padding:5px;">
2.005</td><td style="border:1px solid black; padding:5px;">
6.13</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
CALM</td><td style="border:1px solid black; padding:5px;">
Cal-Maine Foods</td><td style="border:1px solid black; padding:5px;">
45.0</td><td style="border:1px solid black; padding:5px;">
0.0</td><td style="border:1px solid black; padding:5px;">
 0.83/ 0.92</td><td style="border:1px solid black; padding:5px;">
0.515</td><td style="border:1px solid black; padding:5px;">
None</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
D05.SI</td><td style="border:1px solid black; padding:5px;">
DBS Bank</td><td style="border:1px solid black; padding:5px;">
22.99</td><td style="border:1px solid black; padding:5px;">
0.304</td><td style="border:1px solid black; padding:5px;">
-0.7/-0.15</td><td style="border:1px solid black; padding:5px;">
1.372</td><td style="border:1px solid black; padding:5px;">
13.56</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
O39.SI</td><td style="border:1px solid black; padding:5px;">
OCBC Bank</td><td style="border:1px solid black; padding:5px;">
11.94</td><td style="border:1px solid black; padding:5px;">
0.158</td><td style="border:1px solid black; padding:5px;">
 1.12/ 0.54</td><td style="border:1px solid black; padding:5px;">
1.185</td><td style="border:1px solid black; padding:5px;">
13.4</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
U11.SI</td><td style="border:1px solid black; padding:5px;">
UOB Bank</td><td style="border:1px solid black; padding:5px;">
24.86</td><td style="border:1px solid black; padding:5px;">
0.509</td><td style="border:1px solid black; padding:5px;">
 0.45/-0.39</td><td style="border:1px solid black; padding:5px;">
1.147</td><td style="border:1px solid black; padding:5px;">
13.358</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
AN</td><td style="border:1px solid black; padding:5px;">
AutoNation Inc</td><td style="border:1px solid black; padding:5px;">
47.4</td><td style="border:1px solid black; padding:5px;">
-0.0</td><td style="border:1px solid black; padding:5px;">
 0.17/-0.37</td><td style="border:1px solid black; padding:5px;">
1.299</td><td style="border:1px solid black; padding:5px;">
11.8</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
RW0U.SI</td><td style="border:1px solid black; padding:5px;">
Mapletree G China</td><td style="border:1px solid black; padding:5px;">
1.17</td><td style="border:1px solid black; padding:5px;">
-0.167</td><td style="border:1px solid black; padding:5px;">
-0.17/-0.08</td><td style="border:1px solid black; padding:5px;">
0.419</td><td style="border:1px solid black; padding:5px;">
8.667</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
D5IU.SI</td><td style="border:1px solid black; padding:5px;">
Lippo Malls</td><td style="border:1px solid black; padding:5px;">
0.435</td><td style="border:1px solid black; padding:5px;">
0.0</td><td style="border:1px solid black; padding:5px;">
-0.8/ 1.53</td><td style="border:1px solid black; padding:5px;">
0.244</td><td style="border:1px solid black; padding:5px;">
39.545</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
ES3.SI</td><td style="border:1px solid black; padding:5px;">
Straits Times ETF</td><td style="border:1px solid black; padding:5px;">
3.42</td><td style="border:1px solid black; padding:5px;">
0.0</td><td style="border:1px solid black; padding:5px;">
-0.29/-1.31</td><td style="border:1px solid black; padding:5px;">
0.922</td><td style="border:1px solid black; padding:5px;">
None</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
500.SI</td><td style="border:1px solid black; padding:5px;">
Tai Sin Electric</td><td style="border:1px solid black; padding:5px;">
0.445</td><td style="border:1px solid black; padding:5px;">
0.0</td><td style="border:1px solid black; padding:5px;">
-0.36/-0.24</td><td style="border:1px solid black; padding:5px;">
0.474</td><td style="border:1px solid black; padding:5px;">
10.595</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
573.SI</td><td style="border:1px solid black; padding:5px;">
Challenger Techonologies</td><td style="border:1px solid black; padding:5px;">
0.45</td><td style="border:1px solid black; padding:5px;">
2.946</td><td style="border:1px solid black; padding:5px;">
-0.92/-0.67</td><td style="border:1px solid black; padding:5px;">
-0.413</td><td style="border:1px solid black; padding:5px;">
13.235</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
C6L.SI</td><td style="border:1px solid black; padding:5px;">
SIA</td><td style="border:1px solid black; padding:5px;">
10.26</td><td style="border:1px solid black; padding:5px;">
-0.064</td><td style="border:1px solid black; padding:5px;">
-0.45/-0.26</td><td style="border:1px solid black; padding:5px;">
0.705</td><td style="border:1px solid black; padding:5px;">
36.005</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
E5H.SI</td><td style="border:1px solid black; padding:5px;">
Golden Agri</td><td style="border:1px solid black; padding:5px;">
0.395</td><td style="border:1px solid black; padding:5px;">
0.0</td><td style="border:1px solid black; padding:5px;">
 0.09/ 0.29</td><td style="border:1px solid black; padding:5px;">
0.578</td><td style="border:1px solid black; padding:5px;">
15.192</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
J91U.SI</td><td style="border:1px solid black; padding:5px;">
Cambridge Industrial Trust</td><td style="border:1px solid black; padding:5px;">
0.555</td><td style="border:1px solid black; padding:5px;">
0.0</td><td style="border:1px solid black; padding:5px;">
-1.27/ 0.45</td><td style="border:1px solid black; padding:5px;">
0.272</td><td style="border:1px solid black; padding:5px;">
111.0</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
1163.KL</td><td style="border:1px solid black; padding:5px;">
Allianz Malaysia</td><td style="border:1px solid black; padding:5px;">
14.1</td><td style="border:1px solid black; padding:5px;">
-0.252</td><td style="border:1px solid black; padding:5px;">
 0.3/ 0.25</td><td style="border:1px solid black; padding:5px;">
0.571</td><td style="border:1px solid black; padding:5px;">
15.81</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
C</td><td style="border:1px solid black; padding:5px;">
Citigroup</td><td style="border:1px solid black; padding:5px;">
73.5</td><td style="border:1px solid black; padding:5px;">
0.0</td><td style="border:1px solid black; padding:5px;">
-0.64/-1.03</td><td style="border:1px solid black; padding:5px;">
1.847</td><td style="border:1px solid black; padding:5px;">
14.19</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
BAC</td><td style="border:1px solid black; padding:5px;">
Bank of America</td><td style="border:1px solid black; padding:5px;">
27.39</td><td style="border:1px solid black; padding:5px;">
0.0</td><td style="border:1px solid black; padding:5px;">
-0.89/ 0.2</td><td style="border:1px solid black; padding:5px;">
2.535</td><td style="border:1px solid black; padding:5px;">
15.68</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
XOM</td><td style="border:1px solid black; padding:5px;">
ExxonMobil</td><td style="border:1px solid black; padding:5px;">
83.35</td><td style="border:1px solid black; padding:5px;">
0.0</td><td style="border:1px solid black; padding:5px;">
-0.14/ 0.15</td><td style="border:1px solid black; padding:5px;">
0.595</td><td style="border:1px solid black; padding:5px;">
30.05</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
CVX</td><td style="border:1px solid black; padding:5px;">
Chevron Corp</td><td style="border:1px solid black; padding:5px;">
115.89</td><td style="border:1px solid black; padding:5px;">
0.0</td><td style="border:1px solid black; padding:5px;">
-1.35/-0.82</td><td style="border:1px solid black; padding:5px;">
0.519</td><td style="border:1px solid black; padding:5px;">
37.58</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
Z74.SI</td><td style="border:1px solid black; padding:5px;">
Singapore Telecomms</td><td style="border:1px solid black; padding:5px;">
3.75</td><td style="border:1px solid black; padding:5px;">
0.0</td><td style="border:1px solid black; padding:5px;">
 0.57/ 0.24</td><td style="border:1px solid black; padding:5px;">
0.227</td><td style="border:1px solid black; padding:5px;">
16.025</td></tr>
<tr>
<td style="border:1px solid black; padding:5px;">
3395.KL</td><td style="border:1px solid black; padding:5px;">
Berjaya Corporation Berhad</td><td style="border:1px solid black; padding:5px;">
0.33</td><td style="border:1px solid black; padding:5px;">
-0.49</td><td style="border:1px solid black; padding:5px;">
 0.28/-0.48</td><td style="border:1px solid black; padding:5px;">
0.772</td><td style="border:1px solid black; padding:5px;">
None</td></tr>
</body></html>
<br><br>
<b>Recommendation</b><br>
Straits Times Index Check. Day Delta:3.2% (1.5%) <br>
Straits Times Index Check. Day STD:3.03 (10418.0%) <br>
Limoneira Company Check. Day Delta:4.2% (3.0%) <br>
Cal-Maine Foods Sell. Current:45.0 (45.0) <br>
Challenger Techonologies Check. Day Delta:5.9% (5.0%) <br>
Challenger Techonologies Check. Day STD:2.95 (2.5%) <br>
<br>
Time Finished: 20180119 19:16.29<br>
